.calculator {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 40px auto;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f0c0ff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.display {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  margin: 20px;
}

#result {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

button {
  padding: 20px;
  background-color: #8d918d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #a0a4a0;
}

button:active {
  background-color: #6c6f6c;
  transform: scale(0.97);
}
